.chamadaSection {
  text-align: center;
  padding: 4rem 2rem;
  background: linear-gradient(135deg, hwb(49 86% 5% / 0.999), #eee5bb);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.green {
  color: #2f9e78; 
}

.gold {
  color: #c68c53; 
}

/* Divider (linha + bolinhas) */
.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2rem;
}

.line {
  width: 60px;
  height: 2px;
  background-color: #2f9e78;
  margin-right: 0.5rem;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #2f9e78;
  border-radius: 50%;
  margin: 0 3px;
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 400;
  color: #555;
  margin-bottom: 2rem;
}

.highlightBox {
  background-color: #2f9e78;
  padding: 2rem;
  border-radius: 18px;
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
}

.highlightBox h3 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.button {
  background-color: hsl(0, 33%, 98%);
  color: #49e370;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 8px rgba(112, 6, 6, 0.15);
}

.button:hover {
  background-color: #efe0d0;
  transform: scale(1.05);
}

.highlightText {
  background-color: #fff;       
  color: #c68c53;              
  font-weight: bold;
  padding: 0.3rem 0.8rem;
  border-radius: 6px;
  margin-left: 0.5rem;
  display: inline-block;

  /* sombra */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);

  /* animação */
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.35);
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  }
}


