.footer {
  background: #f9f9f9;
  padding: 2rem 5% 1rem 5%;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.25);

  margin-top: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.copy {
  font-size: 0.85rem;
  color: #666;
  text-align: left;
}

.social {
  display: flex;
  gap: 1rem;
}

.social a {
  color: #1a6e4e; 
  font-size: 1.4rem;
  transition: color 0.3s;
}

.social a:hover {
  color: #b5a564; 
}
/* SOS Software */
.copy {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.85rem;
  color: #666;
}

/* SOS Software */
.copy strong {
  color: #1a6e4e; 
}


/* Responsivo */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .copy {
    text-align: center;
  }

  .social {
    justify-content: center;
  }
}
